In [24]:
file="SORTED_DATA"
myfile=open(file)

In [25]:
import pandas
import savefig

ModuleNotFoundError: No module named 'savefig'

In [26]:
pandas.set_option('display.max_rows',10)
pandas.DataFrame.from_csv(myfile)

D:\anish\Documents\RESEARCH\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

,A,N,L.1,,H,a,r,d,w,a.1,...,S.5,a.15,m.24,e.33,.25,E.1,v,e.34,n.19,t.20
L,,,,,,,,,,,,,,,,,,,,,
0,7,115109112,1,8,8,0,16,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2066,7,115109112,1,8,8,0,16,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2225,7,115109112,1,8,8,0,16,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5240,7,115109112,1,8,8,0,16,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16385,7,115109112,1,8,8,0,16,3,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5406762,18,99108117115116101114,1024,4096,4,378,8,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5406774,18,99108117115116101114,1024,4096,4,983,16,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5406878,8,99108117115116101114,164,328,2,86,1,4,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5406901,19,99108117115116101114,1024,4096,4,1945,16,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5407199,19,99108117115116101114,1024,4096,4,1530,8,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN